aniso8601==7.0.0
appnope==0.1.0
APScheduler==3.6.3
asgiref==3.2.3
backcall==0.1.0
coverage==5.0.3
decorator==4.4.1
dj-database-url==0.5.0
Django==3.0.2
django-apscheduler==0.3.0
django-cors-headers==3.2.1
django-graphql-jwt==0.3.0
django-heroku==0.3.1
graphene==2.1.8
graphene-django==2.8.0
graphql-core==2.3.1
graphql-relay==2.0.1
gunicorn==20.0.4
ipdb==0.12.3
ipython==7.12.0
ipython-genutils==0.2.0
jedi==0.16.0
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
promise==2.3
prompt-toolkit==3.0.3
psycopg2==2.8.4
ptyprocess==0.6.0
Pygments==2.5.2
PyJWT==1.7.1
pytz==2019.3
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.0
traitlets==4.3.3
tzlocal==2.0.0
wcwidth==0.1.8
whitenoise==5.0.1
